name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run on push to master branch
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: blacklantern047
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Australia/Sydney
          
          # LeetCode Plugin
          plugin_leetcode: yes
          plugin_leetcode_user: aryan-bhardwaj-tech-enthusiast
          plugin_leetcode_sections: solved, skills, recent
          plugin_leetcode_limit_recent: 2
          plugin_leetcode_limit_skills: 10
